* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: #fff;
  z-index: 2;
  position: relative;
  padding: 3rem 8rem;
  display: flex;
  justify-content: space-between;

  > a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;

    &:hover {
      color: #ccc;
    }
  }

  > ul {
    display: flex;
    list-style: none;
    font-weight: 400;
    align-items: center;
    gap: 2rem;
  }
}

h1 {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
  font-size: 2.5rem;
}
